main {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  margin-top: 80px;
}

/* CHARACTER SECTION */

.characters-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.characters-section > a {
  flex: 20%;
  max-width: 240px;
}
